DisplayFlex()
  display flex
  display -webkit-flex
  display -ms-flexbox
  
FlexDirection(direction)
  -webkit-flex-direction direction
  -ms-flex-direction direction
  flex-direction direction

FlexWrap(var)
  -webkit-flex-wrap var
  -ms-flex-wrap var
  flex-wrap var
          
FlexJustifyContent(var) 
  -webkit-justify-content var
  -ms-flex-pack: var
  justify-content: var
  
FlexAlignItems(var)
  -webkit-align-items var
  -ms-flex-align var
  align-items var

FlexAlignContent(var)
  -webkit-align-content var
  -ms-flex-line-pack var
  align-content var